## PNPM related ###############
## https://pnpm.io/npmrc      #
###############################

strict-peer-dependencies=true

# https://pnpm.io/npmrc#auto-install-peers
auto-install-peers=true

# https://pnpm.io/npmrc#save-prefix
save-prefix=''

use-node-version=22.9.0

# https://pnpm.io/npmrc#use-node-version
node-version=22.9.0
engine-strict=true
